

html,body{

    color: black;
    background: #fff;
    font-size: 62.5%;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    font-family: 'Roboto',sans-serif;
}


.row{
   margin:auto ;
   max-width: 118rem;

}
#hero{
    height: 100vh;
    background:yellow url(../img/flower.jpg) no-repeat center top / cover;
    overflow: hidden;
    position: relative;
}
.cleafix::after{
    content: '';
    display: block;
    clear: both;


}

.logo{
    margin-top: 4.5rem;
    flood-color: left;
}
.logo img{
    width: 4rem;
}
.menu-icon{
    float: right;
   
}
.menu-icon ion-icon {
    color: black;
    font-size: 3.5rem;
    border: 1 rem solid #fff;
}
.hero-text-box{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50% , -50%);
 text-align: center;

}
h1{
    font-size: 6.5rem;
    text-transform: uppercase;
    color: blueviolet;
    letter-spacing: .3rem;
    margin: 1rem 0;
    display: inline-block;
   

}
h1::before{
    content: '';
    height: 2px;
    width: 100%;
    background:blueviolet ;
    display: block;
}
h1::after{
    content: '';
    height: 2px;
    width: 100%;
    background:blueviolet ;
    display: block;
}
.hero-text-box span{
 display:block;
font-size: 2.3rem;
 color: blueviolet;

}
.next-section{
   
    text-align: center;

}
.next-section a{
    width: 4rem;
    height: 4rem;
   position: absolute;
   bottom: 4.5rem;
   left: 0;
   right: 0;
   margin: auto;
}
.next-section a ion-icon{
font-size: 5rem;
color: blueviolet;

}
/*==================
 About section
 =====================*/
section{
    padding: 12rem 0;
}
.about-container{
   display: grid;
   grid-template-columns:
    1fr 1fr;
   grid-gap:4rem;
}
.paul{
    width: 100%;
    clip-path: polygon(30% 0%,70% 0%,100% 30%,100% 70%,70% 100%,30% 100%,0% 70%, 0% 30%);
}
h4{
    font-family: 'Raleway',sans-serif;
    font-size: 1.8rem;
}
p{
    font-size: 1.6rem;
}
.about-description{
    margin: 3rem 0;

}
.btn{
    width: 200px;
    background: black;
    color: #fff;
    text-transform: capitalize;
     font-size: 1.6rem;
     display:inline-block;
     text-align: center;
     padding: 10px 0px;
     border: 2px solid transparent;
     transition: .5s;
}
.btn-full{
    background: brown;
}
.btn-full:hover{
    background: transparent;
    color: brown;
    border-color: brown;

}
   /*==================
 process section
 =====================*/
 #process{
     background: #f6f6f6;
 }
 h2{
     font-size: 4rem;
    
 }
 .section-title{
     text-align: center;
     margin-bottom:4.5rem;
 }
 .section-title span{
     font-size: 1.6rem;
     margin: 1.5rem 0;
     display: inline-block;
 }
 .process-grid{
   display: grid;
   grid-template-columns: repeat(4,1fr);
    grid-gap:1rem;
}
.process-grid-item{
    background: black;
    color: white;
    text-align: center;
    padding:5rem 0;
}
.process-grid-item ion-icon{
   font-size: 4.5rem;
   margin-bottom: 3rem;

}
.process-grid-item h4{
    text-transform: lowercase;
}
.process-grid-item:nth-child(1){
 background: blue;
}
.process-grid-item:nth-child(2){
    background: brown; 
}
.process-grid-item:nth-child(3){
    
    background: pink;
}
.process-grid-item:nth-child(4){
    background: yellow;
}
/*===================
exprience  section
====================*/ 
#exp{
    background:yellow url(../img/paul.jpeg) no-repeat center  / cover fixed;
}
.exp-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.exp-grid-item{
   background: rgba(0, 0, 0, 0.861);
   color: #fff;
   padding: 3rem 2.5rem;
}
h3{
    font-size: 2.6rem;
    text-transform: uppercase;
}

.job{
    margin: 4.5rem 0;
}
.job span{
    font-size: 1.6rem;
    margin: 1.5rem 0;
    display: inline-block;
}
hr{
    border: 0;
     border-bottom: 1px solid white;
}
/*==================
work section
 =====================*/
.work-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:1px;
    grid-auto-rows: 18rem;

}

.work-grid-item{
    background: #000;

}
.work-grid-item img{
      width: 100%;
    height: 100%;
  
}
.work-grid-item:nth-child(2)
{
  background: url(../img/f2.jpg) no-repeat center / cover;

}
.work-grid-item:nth-child(3)
{
  background: url(../img/f3.jpg) no-repeat center / cover;

}
.work-grid-item:nth-child(4)
{
  background: url(../img/f4.webp) no-repeat center / cover;

}
.work-grid-item:nth-child(5)
{
  background: url(../img/f5.jpg) no-repeat center / cover;
  grid-column: 1/3;

}
.work-grid-item:nth-child(6)
{
  background: url(../img/f6.webp) no-repeat center / cover;

}
.work-grid-item:nth-child(7)
{
  background: url(../img/follow7.jpg) no-repeat center / cover;

}